/*@import 'compass/css3';*/

#main {
  font-style: normal;
  display: flex;
  align-items: center;
  width: 900px;
  justify-content: space-around;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  overflow: scroll;
  height: 450px;
  margin-bottom: 3%;
}

.article-item {
  display: inline-block;
  margin: 12px;
  float: left;
  width: 30%;
  height: 200px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #646464;
  text-align: center;
  color: black;
  align-items: center;
  list-style: none;
}

.article-item:after {
  content: '';
  background: transparent;
}


.article-item p {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.article-item:hover p {
   	opacity: 1;
}
.article-item:hover h4 {
    top: -100px;
    transition: top 0.2s h3near;
}

#main ul {
  margin-top: 110%;
}

/*h5 {
  margin: 0 auto;
}*/
