<h1>Hi there.</h1>
<div class="home-containter"
  <div class="home-header">
    <p>w e l c o m e</p>
  </div>

  <div class="realtor-info">
    <p>Ife Foy | Realtor</p>
    <p>Philadelphia, PA</p>
  </div>
</div>
