/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(http://fonts.googleapis.com/css?family=Lato);
 @import url(https://cloud.webtype.com/css/cbb84fd3-f1c5-4841-a232-62e42040143e.css);
 @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
 body {
     font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", sans-serif;
     color: black;
     background: #EFEFEF;
     margin: 5% 5% 150px 5%;
     /*-webkit-font-smoothing: antialiased;*/
 }
 /*p > a:hover{
     color: #d9d9d9;
     text-decoration:  none;
 }*/
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     margin:  1% 0 1% 0;
     font-weight: 200;
 }
 ._12 {
     font-size: 1.2em;
 }
 ._14 {
     font-size: 1.4em;
     text-align: right;
     padding-right: 20%;
     font-style: normal;
 }
 a {
   text-decoration: none;
   color: black;
 }

 .navigation {
  margin: 0;
  padding: 10px;
  background-color: black;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  align-items: flex-end;
 }
 .navigation a {
  color: #EFEFEF;
  text-decoration: none;
  float: right;
  margin-left: 5px;
  margin-right: 20px;
 }
 .footer-social-icons {
     width: 150px;
     height: 350px;
     display:block;
     margin: 0 auto;
     align-self: center;
     position: fixed;
     right: 0;
     bottom: 0;
 }
 .social-icon {
     color: #fff;
 }
 ul.social-icons {
     margin-top: 10px;
     padding-left: 60px;
 }
 .social-icons li {
     vertical-align: bottom;
     display: inline;
     height: 100px;
     margin-bottom: 10px
 }
 .social-icons a {
     color: #fff;
     text-decoration: none;
 }
 .fa-facebook {
     padding:10px 16px;
     margin-bottom: 10px;
     -o-transition:.5s;
     -ms-transition:.5s;
     -moz-transition:.5s;
     -webkit-transition:.5s;
     transition: .5s;
     background-color: #322f30;
 }
 .fa-facebook:hover {
     background-color: #3d5b99;
 }
 .fa-twitter {
     padding:10px 13px;
     margin-bottom: 10px;
     -o-transition:.5s;
     -ms-transition:.5s;
     -moz-transition:.5s;
     -webkit-transition:.5s;
     transition: .5s;
     background-color: #322f30;
 }
 .fa-twitter:hover {
     background-color: #00aced;
 }
 .fa-google {
     padding:10px 14px;
     margin-bottom: 10px;
     -o-transition:.5s;
     -ms-transition:.5s;
     -moz-transition:.5s;
     -webkit-transition:.5s;
     transition: .5s;
     background-color: #322f30;
 }
 .fa-google:hover {
     background-color: #34A853;
 }
 .fa-youtube {
     padding:10px 14px;
     margin-bottom: 10px;
     -o-transition:.5s;
     -ms-transition:.5s;
     -moz-transition:.5s;
     -webkit-transition:.5s;
     transition: .5s;
     background-color: #322f30;
 }
 .fa-youtube:hover {
     background-color: #e64a41;
 }
 .fa-linkedin {
     padding:10px 14px;
     margin-bottom: 10px;
     -o-transition:.5s;
     -ms-transition:.5s;
     -moz-transition:.5s;
     -webkit-transition:.5s;
     transition: .5s;
     background-color: #322f30;
 }
 .fa-linkedin:hover {
     background-color: #0073a4;
 }
 .fa-google-plus {
     padding:10px 9px;
     margin-bottom: 10px;
     -o-transition:.5s;
     -ms-transition:.5s;
     -moz-transition:.5s;
     -webkit-transition:.5s;
     transition: .5s;
     background-color: #322f30;
 }
 .fa-google-plus:hover {
     background-color: #e25714;
 }
